* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, form {
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 0.2em;
}

.navegacao-principal a {
  display: inline-block;
  margin: .5em;
}

.main {
  margin: 15px;
}